{% extends 'auctions/layout.html' %}

{% block body %}
<form action="{% url 'create'%}" method="POST">
    <div class="row">
    <div class="col-2">
        <label>Title</label>
        <label>Description</label>
        <label>Starting Bid</label>
        <label>Image URL</label>
        <label>Category</label>
    </div>
    <div class="col-4">
        {% csrf_token %}
        <input type="text" name="title" required>
        <input type="text" name="description" required>
        <input type="number" name="price" required>
        <input type="url" name="image">
        <input type="text" name="category">
    </div>
    </div>
    <input type="submit">
</form>

{% endblock %}