{% extends "auctions/layout.html" %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>{% if category %}{{ category.name }}{% else %}Active Listings{% endif %}</h2>
    <select id="sort-select" class="form-select w-auto">
        <option value="last_added">Last Added</option>
        <option value="name">Name</option>
        <option value="price">Price</option>
        <option value="category">Category</option>
    </select>
    </div>

    <div id="listings-container" class="row">
        {% include 'auctions/listing_cards.html' %}
    </div>    

    <style>
    .listing-image {
        width: 100%;
        height: 400px;
        object-fit: contain;
        background-color: #f8f9fa; /* Optional: to show a light background */
        margin-bottom: 20px;
    }
    </style>
{% endblock %}
