{% extends 'auctions/layout.html' %}

{% block body %}
<h2>WatchList</h2>
    {% for listing in listings %}
    <div class="row">
        <div class="col-3">
            <img src="{{ listing.image_url }}">
        </div>
        <div class="col-4">
            <h5>{{listing.title}}</h5>
            <b>Price:</b>{{listing.current_price}}
            <p>{{listing.description}}</p>
            <a href="{% url 'listing' title=listing.title %}">View</a>
        </div>
    </div>
    {% empty %}
    <h4>No Listings</h4>
    {% endfor %}
{% endblock %}